# Dataset files - ignore everything inside data/
data/*

# Model files - ignore everything inside model/
model/*

# Virtual environments
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Serialized model files
*.pkl
*.h5
*.joblib

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db